*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 100px;
    width: 100px;
   /* padding: 10px 10px; */
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: antiquewhite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(157, 100, 14) ;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(42, 26, 2);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color:rgb(38, 24, 3);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display:none;
    align-items: center;

}

/* Home page */
#zero{
    color: azure;
    background-image: url("img/backgroundimage.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#zero h4{
    padding-bottom: 15px;
}

#zero h1{
    color: blanchedalmond;
}

#zero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: blanchedalmond;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

h6{
    font-weight: 600;
    font-size: 12px;
}

.section-p1{
    padding: 40px 60px;
}

.section-m1{
    margin: 40px 0;
}
 
body{
    width: 100%;
}

#close{
    display: none;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ;
    border: 1px solid rgb(228, 221, 211);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 54px rgba(70, 62, 221, 0.1) ;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color:#cdebbc ;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6 ;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding: 7px 0;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight:700;
    color: rgb(197, 35, 35);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
 
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-image: url("img/bannerori.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: rgb(9, 9, 8);
}

#banner h4{
    color: rgb(15, 12, 12);
    font-size: 16px;
}

#banner h2{              /* set the color of text properly */
    font-size: 20px;
    padding: 10px 0;
}

#banner h2 span{              /* set the color of text properly */
    color: #e71212;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #c22f2f;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 12px 18px;
    color: #c12c2c;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s;
}

#banner button:hover{
    background: #dda5d2;
    color: white;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/food/bann.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: rgb(180, 47, 47);
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url(img/food/bann23.jpg);
}
#sm-banner h4{
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #f01313;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #df9999;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: pink;
    border: 1px solid pink;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/newsbg.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #cce7d0;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #cdd4f8;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #cdd4f8;
}

#newsletter p span{
   
    color: #a05b5b;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent ;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #e0cedd;
    color: #1a1a1a;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid rgb(219, 120, 120);
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow .i:hover,
footer a:hover{
    color: #c12c2c;
}

@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgb(240, 224, 196);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px ;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar.active{
        right:0px;
    }

    #mobile {
        display:flex;
        align-items: center;
    
    }
    #mobile i{
        color: #0f0000;
        font-size: 24px;
        padding-left: 20px;
        
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #0f0000;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
}


